.falling-text {
  animation: fallFromTop 1s ease forwards;
  transform: translateY(-100vh);
}

.appearing-text {
  animation: fallFromLeft 0.4s ease forwards;
  transform: translateY(-100vh);
}

@keyframes fallFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20vh);

  }

  100% {
    opacity: 100;
    transform: translateY(0);
  }
}

@keyframes fallFromLeft {
  0% {
    opacity: 0%;
    transform: translateX(-20vh);
  }

  100% {
    opacity: 100%;
    transform: translateX(0vh);
  }
}

.mantine-h5cr7z {
  height: 37rem;
  overflow: hidden;
}