.falling-text {
  animation: fallFromTop 1s ease forwards;
  transform: translateY(-100vh);
}

@keyframes fallFromTop {
  0% {
    transform: translateY(-20vh);

  }

  100% {
    transform: translateY(0);
  }
}

.mantine-h5cr7z {
  height: 37rem;
  overflow: hidden;
}